body{
    background-color: #333;
}
.centered-box {
    width: 90vw;
    height: 95vh;
    position: relative;
    top: 3vh;
    background-color: #333;
    border: 0px solid #000;
    margin: auto;
    padding: 0;
    text-align: center;
}
.play {
    padding: 2%;
    font-size: 200%;
    background-color: transparent;
    border: 0px;
}
.input {
    margin: 2%;
    width: 10%;
    font-size: 200%;
    background-color: #222;
    border: 0px;
    text-align: center;
}

