.chessboard {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 80vmin; 
    height: 80vmin; 
    margin: auto; 
}

.white {
    background-image: url('img/light.png');
    background-size: 110%;
}

.black {
    background-image: url('img/dark.png');
    position: relative;
    background-size: 110%;
    text-align: center;
}

.navbutton {
    border: none;
    margin: 1%; 
    margin-top: 2vh; 
    padding: 2vw; 
    font-size: larger;
    color: black;
    background-color: #898989;
}

.centered-box {
    width: 90vw;
    height: auto; 
    position: relative;
    top: 5vh;
    background-color: #333;
    border: 0px solid #000;
    margin: auto;
    padding: 0;
    text-align: center;
}
